.profile__info {
  width: 100%;
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 244px;
  row-gap: 16px;
}

@media screen and (max-width: 1023px) {
  .profile__info  {
    margin-right: 86px;
  }
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    margin: 0 auto;
    margin-bottom: 36px;
    align-items: center;
    row-gap: 10px;
  }
}
