.element__remove-button {
  background-image: url(../../../images/remove.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 100%;
  max-width: 18px;
  min-height: 19px;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__remove-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
